/* app.js */
body {
  background-color: e9d8a6;
}
.mobSkills {
  display: none;
}
.skills {
  display: block;
}
.skill {
  display: inline;
}
@media screen and (max-width: 780px) {
  .mobSkills {
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
  .skills {
    display: none;
    width: 100%;
  }
  .skill {
    display: inline;
  }
}

/* navbar css */

/* for profile page */
/*  */
.cover {
  height: 25vh;
  width: 100%;
  z-index: 0;
}
.profile {
  padding: 0.4rem;
  background-image: url("b.png");
  background-size: cover;
}
.profile img {
  height: 5rem;
  width: 5rem;
}
.links {
  color: wheat;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: large;
}

@media screen and (max-width: 500px) {
  .labels {
    display: none;
  }
  .linksDiv {
    justify-content: center !important;
  }
}

/* body */
.heading {
  font-weight: 500;
  color: #03045e !important;
}

@media screen and (max-width: 575px) {
  .cards {
    width: fit-content;
  }
  .flip-card {
    background-color: white;
    width: 13rem;
    height: 9rem;
    perspective: 1000px;
  }
  .flip-card-inner {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }
  .flip-card-front {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: rgb(142, 71, 148);
  }
  .flip-card-back {
    display: none;
  }
  .flip-card-front img {
    border-radius: 10px;
    width: 80%;
    height: 8rem;
  }
  .flip-card-front p {
    font-size: large;
    font-weight: 500;
  }
}

/* flip card */

@media screen and (min-width: 575px) {
  .flip-card {
    background-color: white;
    width: 15rem;
    height: 10rem;
    perspective: 1000px;
  }

  .flip-card-inner {
    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back {
    display: block;
  }
  .flip-card-front img {
    border-radius: 10px;
    width: 100% !important;
    height: 100% !important;
  }
  .flip-card-front p {
    font-size: large;
    font-weight: 500;
  }

  .flip-card-front {
    background-color: #ffffff;
    color: rgb(142, 71, 148);
  }

  .flip-card-back {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
    color: black;
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 300px) {
  .flip-card {
    width: 15rem !important;
    height: 8rem !important;
  }
  .flip-card-front .flip-card-back {
    width: 100% !important;
    height: 8rem !important;
  }
  .flip-card-front img {
    width: 100% !important;
    height: 7rem !important;
    aspect-ratio: 1;
  }
  .flip-card-front p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .flip-card-back h6 {
    padding: 2px;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 550px) {
  .flip-card {
    width: 15rem !important;
    height: 9rem !important;
  }
  .flip-card-front .flip-card-back {
    width: 100% !important;
    height: 9rem !important;
  }
  .flip-card-front img {
    width: 100% !important;
    height: 8rem !important;
    aspect-ratio: 1;
  }
  .flip-card-front p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .flip-card-back h6 {
    padding: 2px;
    font-size: 0.7rem;
  }
}

/* contact me form */
.form {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.form h1 {
  color: #573685;
}
.formBox {
  /* width: 70%; */
  margin: auto;
  display: flex;
}
@media screen and (min-width: 550px) {
  .formBox {
    width: 60%;
  }
}
@media screen and (max-width: 430px) {
  form {
    width: 100% !important;
  }
}
/*  */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

h1 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* height: 450px; */
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}

textarea {
  /* background: rgba(0, 0, 0, 0.4); */
  background: transparent;
  width: 100%;
  height: 4rem;
  border: 1px solid grey;
  color: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.nameinput,
.emailinput {
  width: 100%;
  height: 3rem;
  border: 1px solid grey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.nameinput {
  padding-left: 45px;
  color: #000;
}

input.emailinput {
  padding-left: 45px;
  border: 1px solid grey;
  color: #000;
}

input.message {
  color: #000;
  padding-left: 45px;
}

select.indent {
  padding-left: 45px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: grey;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  /* background-color: rgba(0, 0, 0, 0.2); */
  -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.bttn {
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  width: 200px;
  height: 48px;
  color: white;
  background: grey;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  outline: none;
  box-shadow: 0 6px #cecece;
  border-radius: 5px;
  float: right;
  margin-right: 6px;
}

.connectBtn {
  background-color: white;
  border: 2px solid #83c5be;
  color: #83c5be;
  padding: 0.4rem;
  border-radius: 1rem;
  text-decoration: none;
}
.connectBtn:hover {
  background: #83c5be;
  outline: none;
  transition: 500ms;
  color: white;
}

.btn:active {
  background: #fff;
  outline: none;
  box-shadow: 0 0 #cecece;
  top: 6px;
}

.flat {
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.flat:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.flat {
  width: 960px !important;
  height: 48px;
  overflow: hidden;
  margin-bottom: 20px;
  background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png)
    no-repeat right;
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
  h1 {
    font-size: 80px;
  }
  form {
    width: 736px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 731px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 666px !important;
  }
}

@media only screen and (max-width: 804px) {
  h1 {
    font-size: 50px;
  }
  form {
    width: 450px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 445px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 380px !important;
  }
}

@media only screen and (max-width: 517px) {
  h1 {
    font-size: 30px;
  }
  form {
    width: 295px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 290px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 225px !important;
  }
  .btn {
    width: 110px;
    font-size: medium;
    padding: 0.7%;
  }
  .icon {
    display: none;
  }
}

/* footer */
.footer {
  background: #83c5be;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
}
.icons {
  text-decoration: none;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
}
.icons:hover {
  color: #83c5be;
  background: white;
  transition: 500ms;
}
.icon {
  display: inline;
}
@media only screen and (max-width: 1100px) {
  .icon {
    display: none;
  }
}
