/* app.js */
.mobSkills {
  display: none;
}
.skills {
  display: block;
}
.skill {
  display: inline;
}
@media screen and (max-width: 780px) {
  .mobSkills {
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
  .skills {
    display: none;
    width: 100%;
  }
  .skill {
    display: inline;
  }
}

/* navbar css */

/* for profile page */
.cover {
  height: 30vh;
  width: 100%;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  background: url("../images/b.png ");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  height: 20vh;
  width: 80%;
  
}
.image {
  height: 100%;
  width: 6rem;
  border: 2px white solid;
  z-index: 1000;
  object-fit: cover;
  background-color: #eaa615;
  border-radius: 2rem;
  
}
@media screen and (max-width: 300px) {
  .image {
    height: 5rem;
    width: 5rem;
  }
}
.name {
  margin-left: 5rem;
}
.links {
  color: wheat;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: large;
}

@media screen and (max-width: 350px) {
  .cover {
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .profile {
    justify-content: space-around;
  }
  .name {
    margin-left: 1rem;
  }
  .icon {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .labels {
    display: none;
  }
  .linksDiv {
    justify-content: center !important;
  }
}

/* body */
.heading {
  font-weight: 500;
  font-size: 2rem;
  color: wheat;
}

@media screen and (max-width: 575px) {
  .cards {
    width: fit-content;
  }
  .flip-card {
    background-color: white;
    width: 13rem;
    height: 18rem;
    perspective: 1000px;
  }
  .flip-card-inner {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility:; */
  }
  .flip-card-front img {
    border-radius: 10px;
    width: 80%;
    height: 60%;
  }
  .flip-card-front p {
    font-size: large;
    font-weight: 500;
  }

  .flip-card-front {
    background-color: #ffffff;
    color: rgb(142, 71, 148);
  }

  .flip-card-back {
    justify-content: center;
    align-items: end;
    /* display:flex; */
    /* background-color: #d7d7d7; */
    color: black;
    /* transform: rotateY(180deg); */
  }

  .flip-card-front p {
    font-size: large;
    font-weight: 500;
  }
}

/* flip card */

@media screen and (min-width: 575px) {
  .flip-card {
    background-color: white;
    width: 19rem;
    height: 12rem;
    perspective: 1000px;
    padding: 3px;
  }

  .flip-card-inner {
    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front img {
    border-radius: 10px;
    width: 95% !important;
    height: 85% !important;
  }
  .flip-card-front p {
    font-size: large;
    font-weight: 500;
  }

  .flip-card-front {
    background-color: #ffffff;
    color: rgb(142, 71, 148);
  }

  .flip-card-back {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: #d7d7d7; */
    color: black;
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 300px) {
  .flip-card {
    width: 10rem !important;
    height: 12rem !important;
  }
  .flip-card-front .flip-card-back {
    width: 8rem !important;
    height: 11rem !important;
  }
  .flip-card-front img {
    width: 95% !important;
    height: 85% !important;
  }
  .flip-card-front p {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

/* contact me form */
.fields {
  margin: 1rem;
}
@media screen and (max-width: 430px) {
  .form {
    width: 100% !important;
  }
}
/*  */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

h1 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  height: 450px;
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}

textarea {
  background: rgba(0, 0, 0, 0.4);
  width: 894px;
  height: 110px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.nameinput,
.emailinput {
  width: 894px;
  height: 48px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.nameinput {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 45px;
}

input.emailinput {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 45px;
}

input.message {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 45px;
}

select.indent {
  padding-left: 45px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.bttn {
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  width: 200px;
  height: 48px;
  color: #000;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  outline: none;
  box-shadow: 0 6px #cecece;
  border-radius: 5px;
  float: right;
  margin-right: 6px;
}

.btn:hover {
  background: #fff;
  outline: none;
  box-shadow: 0 4px #cecece;
  top: 2px;
}

.btn:active {
  background: #fff;
  outline: none;
  box-shadow: 0 0 #cecece;
  top: 6px;
}

.flat {
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.flat:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.flat {
  width: 960px !important;
  height: 48px;
  overflow: hidden;
  margin-bottom: 20px;
  background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png)
    no-repeat right;
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
  h1 {
    font-size: 80px;
  }
  form {
    width: 736px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 731px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 666px !important;
  }
}

@media only screen and (max-width: 804px) {
  h1 {
    font-size: 50px;
  }
  form {
    width: 450px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 445px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 380px !important;
  }
}

@media only screen and (max-width: 517px) {
  h1 {
    font-size: 30px;
  }
  form {
    width: 295px !important;
  }
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat
    > select,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Subject.flat {
    width: 290px !important;
  }
  .nameinput,
  .emailinput,
  #wpcf7-f156-p143-o1\20
    formwrap
    > form
    > p
    > span.wpcf7-form-control-wrap.Message
    > textarea {
    width: 225px !important;
  }
  .btn {
    width: 110px;
    font-size: medium;
    padding: 0.7%;
  }
  .icon {
    display: none;
  }
}
